/*Color Initialization*/
/*Fonts*/
@font-face {
		font-family: "Roboto";
		src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
		font-family: "Roboto-Bold";
		src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
		font-family: "Roboto-Light";
		src: url("../fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
		font-family: "Lato";
		src: url("../fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
		font-family: "Lato-Bold";
		src: url("../fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
		font-family: "Lato-Thin";
		src: url("../fonts/Lato-Thin.ttf") format("truetype");
}

html {
		height: 100%;
}

body {
		height: 100%;
}

a {
		color: white;
}

a:hover {
		text-decoration: none;
}

/*Navigation Bar*/
.navbar {
		background-color: transparent;
		margin: 0;
		border-radius: 0;
		border: 0;
		font-family: "Roboto";
		text-transform: uppercase;
		transition: all 0.6s ease-in-out;
}

.navbar .navbar-brand img {
		width: 100px;
		transition: all 0.6s ease-in-out;
}

.navbar ul.navbar-nav li {
		padding: 15px;
		transition: all 0.6s ease-in-out;
}

.navbar ul.navbar-nav li a.level-one {
		padding: 10px;
		border: 1px transparent solid;
		border-radius: 5px;
		color: white;
}

.navbar ul.navbar-nav li:hover a.level-one, .navbar ul.navbar-nav li.active a.level-one {
		border: 1px white solid;
		background-color: transparent;
		color: white;
}

.navbar ul.navbar-nav li > .dropdown-menu {
		border-radius: 5px;
}

.navbar ul.navbar-nav li ul li {
		padding: 0;
		font-family: "Roboto-Light";
		font-size: 12px;
}

.navbar.scrolled {
		background-color: rgba(0, 0, 0, 0.7);
}

.navbar.scrolled .navbar-brand img {
		width: 70px;
}

.navbar.scrolled ul.navbar-nav li {
		padding-top: 5px;
		padding-bottom: 5px;
}

.navbar.scrolled ul.navbar-nav li a {
		font-family: "Roboto-Light";
}

.navbar.scrolled ul.navbar-nav li:hover a.level-one, .navbar.scrolled ul.navbar-nav li.active a.level-one {
		background-color: transparent;
		border: 0;
		font-family: "Roboto-Bold";
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:after {
		border: 1px white solid;
		background-color: transparent;
		color: white;
}

/*Slider*/
.carousel, .item, .active {
		height: 100%;
}

.carousel-inner {
		height: 100%;
}

.carousel-inner .fill {
		width: 100%;
		height: 100%;
		background-position: center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;
}

.carousel-inner .item::before {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		content: " ";
		width: 100%;
		height: 100%;
		background-image: url("../img/filter.png");
		background-repeat: repeat;
}

.carousel-inner .carousel-caption {
		top: 30%;
		text-shadow: none;
}

.carousel-inner .carousel-caption h1, .carousel-inner .carousel-caption h2 {
		font-family: "Lato-Thin";
}

.carousel-inner .carousel-caption h4, .carousel-inner .carousel-caption h5 {
		font-family: "Lato";
}

.carousel-control {
		background-image: none !important;
}

.carousel-control:hover {
		background-image: none;
}

/*Contents*/
.main-content {
		position: relative;
		background: white;
		margin: 0;
		padding: 0;
		height: 2000px;
}

/*Desktop View*/
/*Tablet View*/
/*Mobile View*/
@media (max-width: 480px) {
		.carousel-inner .carousel-caption {
				top: 20%;
		}
}
